@charset "utf.8";

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html,body{
    height: 100%;
    width: 100%;

}

/*------nav-----*/

.sofia-index{
    font-family: "Sue Ellen Francisco", cursive;
    font-size: 3.5rem;
    padding-left: 300px;
    padding-top: 3px;
    font-weight: 300;
    color: #FB7B7B;
}

.contenedor {
    height: 100px;
    width: 100%;
    background-color: #FFD5D5;
    position: sticky;
    top:0px;
    display: flex;
    flex-direction: row;
    justify-content:left; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

nav ul {
    list-style: none;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content:space-around; /* Centra el contenido horizontalmente */
    align-items: center; 
    
    

}
nav ul li {
    display: inline-block;
    justify-content:space-around; /* Espacio entre los botones */
    padding-right: 70px;   
}
.contenedor a:hover{
    color: #FB7B7B;
}
.contenedor a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family:"Abel", sans-serif;

}
@media (max-width: 2560px) {
    .contenedor {
        height: 80px; /* Reducir la altura */
    }

    .contenedor a {
        font-size: 26px; /* Reducir el tamaño de fuente */
    }
}
@media (max-width: 1920px) {
    .contenedor {
        height: 80px; /* Reducir la altura */
    }

    .contenedor a {
        font-size: 25px; /* Reducir el tamaño de fuente */
    }
}
@media (max-width: 1280px) {
    .contenedor {
        height: 80px; /* Reducir la altura */
    }

    .contenedor a {
        font-size: 18px; /* Reducir el tamaño de fuente */
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .contenedor {
        height: auto; /* Altura automática */
        padding: 10px; /* Agregar relleno */
    }

    nav ul li {
        display: block; /* Cambiar a bloque */
        padding: 10px 0; /* Añadir espacio entre elementos */
    }

    .contenedor a {
        font-size: 14px; /* Reducir el tamaño de fuente */
    }
}

/* -----fuentes- dsps borrar----- */

.khula-regular {
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.khula-semibold {
    font-family: "Khula", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.khula-bold {
    font-family: "Khula", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.alef-regular {
    font-family: "Alef", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.alef-bold {
    font-family: "Alef", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* -----fuentes- dsps borrar----- */

.h2-index{
    font-family: "Sue Ellen Francisco", cursive;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size: 5.3rem;
}

.apertura{
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    height: 720px;
    background-image: url('img/portada\ portfolio.png'); 
    background-size: cover; 
    background-position: center; 
    padding-right:50px;

}
.texto-apertura{
    text-align: left; 
    color: white; 
    padding-right: 250px;
    
}
.texto-apertura h2 {
    font-size: 70px; 
    margin-bottom: 10px;
    margin-left: auto; 
}

.texto-apertura h3 {
    font-size: 23px; 
    margin-left: auto;
}

.h3-index{
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-align: left; 
    border: 2px solid rgb(255, 255, 255);
    width: fit-content; /* Ajusta el ancho del contenedor al contenido */
    padding: 10px 15px; /* Simplificado para los cuatro lados */
    border-radius: 70%;
}
.bajada{
    background-color: #FFD5D5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    flex-direction: column;
    align-items: center; 
    text-align:left;
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.p-bajada{
    font-family: "Khula", sans-serif;
    font-weight: 400;
    color: black;
}
.p, button {
    margin: 5px; /* Añade un pequeño espacio entre el párrafo y el botón */
    
}

button{
    color:  #FF4E5F;
    text-decoration: underline; /* Subrayado */
    background-color: transparent;
    border: none;
    font-family: "Alef", sans-serif;
    font-weight: 700;
    
}

/* -----sobre mi----- */
.flex-sobremi{
    display: flex;
    justify-content: left; /* Centra horizontalmente */ 
    align-items: center;
}

.p-sobremi{
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-size: 20px;  
    color: black;
    display: flex;
    background-color: transparent;
    padding-left:60px ;
    padding-right: 85px;
    line-height: 30px;
}

@media (max-width: 768px) {
    .p-sobremi {
        width: 90%; 
        height: auto; 
    }
}

.flex-habilidades{
    background-image: url('img/tramaflores.jpg'); 
    height: 400px;
    width: 100%;
}

.titulo-habilidades {
    background-color: #FFD5D5; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
    height: 30px;
    
}

.h1-habilidades {
    margin: 0; /* Elimina el espacio entre el título y el borde del óvalo */
    font-size: 1.3rem;
    color:  #FF4E5F;
    font-family: "Alef", sans-serif;
    font-weight: 700;
    
    
}


.programas {
    display: flex;
    padding-right: 20px; 
    margin-left: 400px; 
    margin-right: 400px;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.flex-item {
    width: 150px;
    height: 170px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgb(131, 131, 131);
    border-radius: 5px; 
    padding: 10px; 
    margin: 0.5px; 
}

.titulo-educación {
    background-color: #FFD5D5; 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 7px;
    height: 30px;
    
}

.h3-educación {
    margin: 0; /* Elimina el espacio entre el título y el borde del óvalo */
    font-size: 1.3rem;
    color:  #FF4E5F;
    font-family: "Alef", sans-serif;
    font-weight: 700;
    
}

/* ----------galería---------- */
.foto-grande{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1200px;


    
}

.flecha{
    padding-top: 50px;
    

}
.texto-galeria{
    display: flex;
    padding-left:30px;
    max-width: 20%;
    margin-right:50px;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    color: black;
    font-size:20px;
}


.flex-footer {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    height: 100px;
    background-color: #e9aeae;
    position: sticky;
    top:0px;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
        
    }
    
.ulfooter{
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0px;

    

    
    }

.li-footer{
    display: inline;
    margin: 0;
    padding-right: 20px;
    justify-content: center;
    padding-bottom: 5px;
    

}
    

.galería-proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con el mismo ancho */
    grid-gap: 10px; /* Espacio entre las imágenes */
}

.fotos-galería {
    overflow: hidden; /* Evita que las imágenes se salgan del contenedor */
}

.fotos-galería img {
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* Mantener la proporción */
    padding: 0px;
}

document.addEventListener('DOMContentLoaded', function () {
    var video = document.getElementById('miVideo');
    
    video.addEventListener('click', function () {
        if (video.paused) {
            video.play();
        } else {
            video.pause();
        }
    });
});

.container-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.video-contenido {
    display: flex;
    flex-direction:row;
    align-items: center;
}

video {
    width: 100%;
    max-width: 640px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-bottom: 50px;
    padding-left: 40px;
}

.p-video {
    font-size: 20px;
    text-align: left;
    color: black;
    max-width: 35%;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    padding-left: 50px;
    display: flex;
    border-color: black;
    border-radius: 8px;
    padding: 20px;
}



